form {
  margin: 0 auto;
  max-width: 400px;
}
.loginWrapper {
  border: 1px solid #777;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  margin: 1rem;
}

.loginInput {
  margin: 0 auto;
  max-width: 300px;
}

.loginInput label {
  margin-top: 1rem;
  color: var(--primary-color);
}

.loginWrapper .loginButton {
  margin: 1rem auto;
  max-width: 200px;
  padding: 4px;
  background-color: var(--secondary-color);
  color: var(--white);
}

.loginWrapper .loginButton:hover {
  background-color: var(--white);
  color: var(--background-gray);
}

@media screen and (min-width: 576px) {
  .loginWrapper {
    margin-top: 2rem;
    padding: 2.5rem 3rem;
  }
}
