.productWrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 260px;
  border: 1px solid #bcbcbc;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.05);
}
.productWrapper input {
  max-width: 60px;
  text-align: center;
}
.productWrapper button {
  padding: 2px 6px;
}

.productLink {
  color: #000;
  text-decoration: none;
}
.productLink img {
  max-width: 100%;
}
.productLink svg {
  transition: all 0.3s ease-in-out;
}
.productLink:hover svg {
  color: #626262;
  padding-left: 4px;
}

.productAction {
  display: flex;
  gap: 4px;
  margin-top: 1rem;
  justify-content: flex-end;
}

.productActionItem {
  padding: 2px 0;
}
