@import '../../../styles//variables.module.css';

.productWrapper {
  background-color: var(--background-color);
  border: 1px solid #444;
  display: flex;
  flex-direction: column;
  width: 260px;
  border-radius: 4px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.05);
}

.productWrapper .card-body {
  background-color: var(--background-color);
}

.productWrapper input {
  max-width: 60px;
  text-align: center;
}

.productWrapper button {
  padding: 2px 6px;
}

.productImage {
  height: 200px;
  object-fit: cover;
}

.productLink {
  color: var(--primary-color);
  text-decoration: none;
}

.productLink img {
  max-width: 100%;
}

.productLink svg {
  margin-right: 4px;
  transition: all 0.3s ease-in-out;
}

.productLink:hover svg {
  color: #626262;
  padding-left: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.productAction {
  display: flex;
  gap: 4px;
  margin-top: 1rem;
  justify-content: flex-end;
}

.productAction .productActionBtn {
  margin-left: 4px;
  padding: 2px;
  background-color: var(--secondary-color);
  color: var(--white);
}

.productActionBtn:hover {
  background-color: var(--background-gray);
  color: var(--white);
}

.productActionBtnSecondary:disabled {
  background-color: var(--white);
  color: black;
}
