.products-parent {
  background: #f8f9fa;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}

.product-card {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 40%;
}

@media (min-width: 1200px) {
  .products-parent {
    max-width: 1400px;
    margin: 0 auto;
  }
}
