@import '../../../styles//variables.module.css';

.productsParent {
  background: var(--background-gray);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}

.productCard {
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 40%;
}

@media (min-width: 1200px) {
  .productsParent {
    max-width: 1400px;
    margin: 0 auto;
  }
}
