@import '../../../styles/variables.module.css';

.modalWrapper div {
  background-color: var(--background-color);
}

.modalHeader {
  color: var(--secondary-color);
}

.modalContent {
  color: var(--white);
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #222;
}

.cartItem img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}

.cartItemInfo {
  flex-grow: 1;
}

.cartItemActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartItemActions button {
  margin-top: 0.5rem;
}

.cartBtn {
  padding: 4px 6px;
  background-color: var(--secondary-color);
  color: var(--white);
}

.cartBtnSecondary {
  padding: 4px 6px;
  background-color: var(--background-gray);
  color: var(--white);
}

.cartBtn:hover,
.cartBtnSecondary:hover {
  background-color: var(--white);
  color: #000;
}
