@import '../../../styles//variables.module.css';

.container {
  min-height: calc(100vh - 120px);
  background: var(--background-gray);
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.section {
  padding: 1rem;
  background: var(--background-gray);
  display: flex;
}
